# Print hello world

In [3]:
print(10)

10

In [5]:
print(10+2)

12

In [6]:
print("GARV")

GARV

# Datatypes

In [16]:
x=100
x

100

In [17]:
print(x)

100

In [18]:
print (x)

100

In [19]:
type(x)

int

In [21]:
x=10.0
type(x)

float

In [24]:
x="GARV"
type(x)

str

In [26]:
a=True
type(a)

bool

In [27]:
b=False
type(b)

bool

In [2]:
x=10
x,type(x)

(10, int)

In [17]:
x="Garv"
x,type(x)
y=22
y,type(y)

(22, int)

# Rules for naming variables

In [30]:
book_names=("haey", "baey", "erynest")
book_names

('haey', 'baey', 'erynest')

In [31]:
book names=("helo, we, get")

SyntaxError: invalid syntax (2644135713.py, line 1)

In [32]:
3_books=['hello,hey']

SyntaxError: invalid decimal literal (2874063980.py, line 1)

In [33]:
3_books=['hello,hey']

SyntaxError: invalid decimal literal (2874063980.py, line 1)

In [34]:
3_books=['hello,hey']
3_books

SyntaxError: invalid decimal literal (3589256389.py, line 1)

In [35]:
books_3=['hello,hey']
books_3

['hello,hey']

#### HENCE, space is not allowed in variables name
#### variables can't be start with a number, but number can be used in the middle of variable
#### only allowed special character is underscore
#### variables name should start with A-Z, a-z or underscore

# DATASTRUCTURE

#### In list elements are written inside the square bracket []
#### we can retrieve elemenst using index and index starts from zero
#### mutable - means we can make changes, using index []

In [43]:
sample_list=[1,2.1,2,4,"hey"]
sample_list

[1, 2.1, 2, 4, 'hey']

In [44]:
type(sample_list)

list

(1, 2.1, 2, 4, 'hey')

In [47]:
type(sample_list)

tuple

#### because here square brackets are not used thats why its showing its tuple
#### now again creating a list

In [50]:
sample_list=[1,2.1,2,4,"hey"]
sample_list

[1, 2.1, 2, 4, 'hey']

In [52]:
sample_list[2]

2

In [54]:
sample_list[1]

2.1

In [55]:
sample_list[10]

IndexError: list index out of range

#### number inside the square bracket points to the index 
#### now here indexing is out of the range

In [56]:
sample_list[4]

'hey'

In [57]:
sample_list[1]=100

In [58]:
sample_list

[1, 100, 2, 4, 'hey']

#### here we have muted or updated the list with index 1 and added a new element into the list

#### NOW, Parenthesis -> tuple
#### immutable - we cannot make the changes

In [63]:
sample_list=(1,2.1,2,4,"hey")
sample_list

(1, 2.1, 2, 4, 'hey')

In [64]:
type(sample_list)

tuple

In [68]:
sample_list[1]

2.1

In [69]:
sample_list[1]=12

TypeError: 'tuple' object does not support item assignment

#### {}
#### duplicates are not allowed 
#### arranged according to first digit
#### cannot access using index
#### mutable but not using index, but with .add() or .remove()

In [3]:
sample_set={10,9,1.3,89,"hi"}
sample_set

{1.3, 10, 89, 9, 'hi'}

In [4]:
type(sample_set)

set

In [78]:
sample_set[2]

TypeError: 'set' object is not subscriptable

In [73]:
sample_set[1]=100

TypeError: 'set' object does not support item assignment

In [76]:
sample_set.add(50)
sample_set

{1.3, 10, 50, 89, 9, 'hi'}

In [83]:
sample_set.remove(50)
sample_set

{1.3, 9, 10, 89}

In [84]:
sample_set.add("hey")
sample_set

{1.3, 10, 89, 9, 'hey'}

In [85]:
sample_set.remove("hey")
sample_set

{1.3, 9, 10, 89}

### set is mutable

# Dictionary

#### has key-value pair datastructure
#### key is unique , value can be duplicated
#### value can be retrived using key, but key can't be retrieved using value

In [5]:
sample_dict={1:"Garv",2:"Payal",3:"123",4:"heyy"}
sample_dict

{1: 'Garv', 2: 'Payal', 3: '123', 4: 'heyy'}

In [6]:
sample_dict[4]

'heyy'

In [7]:
sample_dict["Garv"]

KeyError: 'Garv'